.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 0px 20px;
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0 30px;
    font-size: 50px;
    font-weight: 600;
}
.services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 110px;
}
.research-container{
    margin-bottom: -40px;
}
.research-container-week{
    display: flex;
    gap: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.research-container-week img{
    width: 200px;
    height: auto;
}
.research-container-week img:hover{
    transform: scale(1.10);
    border: 4px solid #f50df5;
    border-radius: 10px;
    transition: 0.3s;
}
.research-description p{
    width: 600px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}


.services-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 15px 40px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
    transition: 0.6s;
    cursor: pointer;
}

.services-showmore:hover{
    gap: 30px;
    transition: 0.6s;

}
a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

@media(max-width:900px){
    .research-description p{
        width: 400px;
    }
}
@media(max-width:600px){
    .services-title h1{
        font-size: 25px;
    }
    .services-title img{
        width: 50px;
    }
    .research-container-week img{
        width: 300px;
    }
    .research-description p{
        display: none;
    }
}