.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 150px 170px 50px 170px;
}
.mywork-title{
    position: relative;

}
.mywork-title h1{
    padding: 0 30px;
    font-size: 50px;
    font-weight: 600;

}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 110px;
}
.mywork-container-project{
    display: flex;
    gap: 40px;
    text-align: justify;
    margin-bottom: -40px;
    
}
.mywork-container-project img{
    box-sizing: border-box;
    width: 400px;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container-project img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-description{
    display: flex;
    gap: 50px;
}
.mywork-description p{
    width: 500px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}
.mywork-tags h4{
    line-height: 30px;
    font-weight: 200;
}

.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 15px 40px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;

}
@media(max-width:1100px) {
    .mywork-container-project img{
        width: 200px;
    }
    .mywork-description p{
        font-size: 18px;
    }
    .mywork-tags h4{
        font-weight: 200;
    }
}
@media (max-width:900px) {
    .mywork-tags h4{
        display: none;
    }
    .mywork-container-project img{
        width: 100px;
    }
    .mywork-description p{
        width: 500px;
    }
    .mywork-title h1{
        font-size: 40px;
    }
    .mywork-title img{
        width: 50px;
    }
       
}
@media(max-width:600px){
    .mywork-container-project img{
       width: 300px;
    }
    .mywork-description{
        display: none;
    }
    .mywork-title h1{
        font-size: 30px;
    }
    
}
@media(max-width:400px){
    .mywork-title h1{
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }
    .mywork-title img{
        width: 30px;
    }
}